<html>
	<head>
		<title>Links en Tweets de @mejorandola</title>
	</head>
	<body>
		<table style="border=1px solid #000;">
			<tr>
				<th>RTs</th>
				<th>Link</th>
				<th>Autor</th>
				<th>Timestamp</th>
				<th>Tweet</th>
			</tr>
		{% for link, tweet in tweets %}
			<tr>
				<td>{{ tweet.retweets }}</td>
				<a href="{{ link }}">{{ link|slice:":50" }}</a>	
				<td>{{ tweet.username }}</td>
				<td>{{ tweet.created_at }}</td>				
				<td>{{ tweet.text }}</td>
				<td>
				</td>
			</tr>
		{% endfor %}
		</table>
	</body>
</html>
