<html>
	<head>
		<title>Links en Tweets de @mejorandola</title>
	</head>
	<body>
		<table>
			<tr>
				<th>RTs</th>
				<th>Link</th>
				<th>Autor</th>
				<th>Timestamp</th>
				<th>Tweet</th>
			</tr>
		{% for link, tweet in response %}
			<tr>
				<td>{{ tweet.retweets }}</td>
				<td><a href="{{ tweet.link_set.all.0.long_link }}">{{ tweet.link_set.all.0.long_link|slice:":50" }}</a></td>
				<td>{{ tweet.username }}</td>
				<td>{{ tweet.created_at }}</td>				
				<td>{{ tweet.text }}</td>
				<td>
				</td>
			</tr>
		{% endfor %}
		</table>
	</body>
</html>
